<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>IndianOil1</servlet-name>
        <servlet-class>indianoil.IndianOil1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StationarySub</servlet-name>
        <servlet-class>StationarySub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndianOil2</servlet-name>
        <servlet-class>indianoil.IndianOil2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStock</servlet-name>
        <servlet-class>UpdateStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllotStock</servlet-name>
        <servlet-class>indianoil.AllotStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLog</servlet-name>
        <servlet-class>indianoil.AdminLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Request</servlet-name>
        <servlet-class>Request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRequest</servlet-name>
        <servlet-class>indianoil.ViewRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndianOil1</servlet-name>
        <url-pattern>/IndianOil1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StationarySub</servlet-name>
        <url-pattern>/StationarySub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndianOil2</servlet-name>
        <url-pattern>/IndianOil2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStock</servlet-name>
        <url-pattern>/UpdateStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllotStock</servlet-name>
        <url-pattern>/AllotStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLog</servlet-name>
        <url-pattern>/AdminLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Request</servlet-name>
        <url-pattern>/Request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRequest</servlet-name>
        <url-pattern>/ViewRequest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
